In [3]:
import json
import os
from pathlib import Path
import pandas as pd

In [4]:
def read_jsons_into_dataframe(directory):
    temp_list_of_dfs = []
    directory = directory
    pathlist = Path(directory).rglob('*.json')
    for path in pathlist:
        with open(path) as f:
            json_data = pd.json_normalize(json.loads(f.read()))
        temp_list_of_dfs.append(json_data)
    combined_df = pd.concat(temp_list_of_dfs, ignore_index=True)
    return(combined_df)

In [5]:
df_1700s = read_jsons_into_dataframe('1700s')

In [6]:
df_1700s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_blocked                  0 non-null      object
 1   id                            277 non-null    int64
 2   blocked                       277 non-null    bool
 3   judges                        277 non-null    object
 4   court                         277 non-null    object
 5   date_filed                    277 non-null    object
 6   download_url                  86 non-null     object
 7   source                        277 non-null    object
 8   local_path                    0 non-null      object
 9   html_lawbox                   277 non-null    object
 10  time_retrieved                277 non-null    object
 11  nature_of_suit                277 non-null    object
 12  plain_text                    277 non-null    object
 13  html_with_citations           277 non-null    object
 14  sha1                          277 non-null    object
 15  date_modified                 277 non-null    object
 16  precedential_status           277 non-null    object
 17  extracted_by_ocr              277 non-null    bool
 18  citation_count                277 non-null    int64
 19  absolute_url                  277 non-null    object
 20  docket                        277 non-null    object
 21  html                          277 non-null    object
 22  resource_uri                  277 non-null    object
 23  citation.state_cite_three     0 non-null      object
 24  citation.federal_cite_two     0 non-null      object
 25  citation.resource_uri         277 non-null    object
 26  citation.federal_cite_three   0 non-null      object
 27  citation.lexis_cite           86 non-null     object
 28  citation.document_uris        277 non-null    object
 29  citation.scotus_early_cite    0 non-null      object
 30  citation.federal_cite_one     277 non-null    object
 31  citation.case_name            277 non-null    object
 32  citation.westlaw_cite         0 non-null      object
 33  citation.state_cite_one       0 non-null      object
 34  citation.specialty_cite_one   0 non-null      object
 35  citation.state_cite_regional  0 non-null      object
 36  citation.id                   277 non-null    int64
 37  citation.docket_number        1 non-null      object
 38  citation.state_cite_two       0 non-null      object
 39  citation.neutral_cite         1 non-null      object
 40  supreme_court_db_id           0 non-null      object
dtypes: bool(2), int64(3), object(36)
memory usage: 85.1+ KB

In [7]:
df_1900s = read_jsons_into_dataframe('1900s')

In [8]:
df_1900s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24633 entries, 0 to 24632
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_blocked                  0 non-null      object
 1   id                            24633 non-null  int64
 2   blocked                       24633 non-null  bool
 3   judges                        24633 non-null  object
 4   court                         24633 non-null  object
 5   date_filed                    24633 non-null  object
 6   download_url                  7852 non-null   object
 7   source                        24633 non-null  object
 8   local_path                    0 non-null      object
 9   html_lawbox                   24619 non-null  object
 10  time_retrieved                24633 non-null  object
 11  nature_of_suit                24633 non-null  object
 12  plain_text                    24633 non-null  object
 13  html_with_citations           24633 non-null  object
 14  sha1                          24633 non-null  object
 15  date_modified                 24633 non-null  object
 16  precedential_status           24633 non-null  object
 17  absolute_url                  24633 non-null  object
 18  citation_count                24633 non-null  int64
 19  supreme_court_db_id           7269 non-null   object
 20  extracted_by_ocr              24633 non-null  bool
 21  docket                        24633 non-null  object
 22  html                          24633 non-null  object
 23  resource_uri                  24633 non-null  object
 24  citation.state_cite_three     12 non-null     object
 25  citation.federal_cite_one     24633 non-null  object
 26  citation.federal_cite_two     7270 non-null   object
 27  citation.specialty_cite_one   13 non-null     object
 28  citation.federal_cite_three   7269 non-null   object
 29  citation.lexis_cite           14445 non-null  object
 30  citation.document_uris        24633 non-null  object
 31  citation.scotus_early_cite    12 non-null     object
 32  citation.case_name            24633 non-null  object
 33  citation.westlaw_cite         12 non-null     object
 34  citation.state_cite_one       12 non-null     object
 35  citation.neutral_cite         12 non-null     object
 36  citation.state_cite_regional  12 non-null     object
 37  citation.state_cite_two       12 non-null     object
 38  citation.docket_number        24295 non-null  object
 39  citation.id                   24633 non-null  int64
 40  citation.resource_uri         24633 non-null  object
dtypes: bool(2), int64(3), object(36)
memory usage: 7.4+ MB

In [9]:
df_2000s = read_jsons_into_dataframe('2000s')

In [10]:
df_2000s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28384 entries, 0 to 28383
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_blocked                  2 non-null      object
 1   id                            28384 non-null  int64
 2   blocked                       28384 non-null  bool
 3   judges                        28384 non-null  object
 4   court                         28384 non-null  object
 5   date_filed                    28384 non-null  object
 6   download_url                  27351 non-null  object
 7   source                        28384 non-null  object
 8   local_path                    987 non-null    object
 9   html_lawbox                   28212 non-null  object
 10  time_retrieved                28384 non-null  object
 11  nature_of_suit                28384 non-null  object
 12  plain_text                    28384 non-null  object
 13  html_with_citations           28384 non-null  object
 14  sha1                          28384 non-null  object
 15  date_modified                 28384 non-null  object
 16  precedential_status           28384 non-null  object
 17  absolute_url                  28384 non-null  object
 18  citation_count                28384 non-null  int64
 19  extracted_by_ocr              28384 non-null  bool
 20  docket                        28384 non-null  object
 21  html                          28216 non-null  object
 22  resource_uri                  28384 non-null  object
 23  citation.state_cite_three     7 non-null      object
 24  citation.federal_cite_one     28132 non-null  object
 25  citation.federal_cite_two     1052 non-null   object
 26  citation.specialty_cite_one   7 non-null      object
 27  citation.federal_cite_three   1030 non-null   object
 28  citation.lexis_cite           27544 non-null  object
 29  citation.document_uris        28384 non-null  object
 30  citation.scotus_early_cite    8 non-null      object
 31  citation.case_name            28384 non-null  object
 32  citation.westlaw_cite         7 non-null      object
 33  citation.state_cite_one       8 non-null      object
 34  citation.neutral_cite         14 non-null     object
 35  citation.state_cite_regional  8 non-null      object
 36  citation.state_cite_two       7 non-null      object
 37  citation.docket_number        28272 non-null  object
 38  citation.id                   28384 non-null  int64
 39  citation.resource_uri         28384 non-null  object
 40  supreme_court_db_id           1012 non-null   object
dtypes: bool(2), int64(3), object(36)
memory usage: 8.5+ MB

In [11]:
len(df_2000s[df_2000s['plain_text'] == ''].index)

27400

In [12]:
df_2000s['html_with_citations'].head()

0    <pre class="inline">(Slip Opinion)            ...
1    <pre class="inline">(Slip Opinion)            ...
2    <pre class="inline">(Slip Opinion)            ...
3    <pre class="inline">(Slip Opinion)            ...
4    <pre class="inline">(Slip Opinion)            ...
Name: html_with_citations, dtype: object

In [13]:
len(df_2000s[df_2000s['html'] == ''].index)

1407

In [14]:
html_with_citations_blank = df_2000s[df_2000s['html_with_citations'] == ''].index

In [15]:
df_1800s = read_jsons_into_dataframe('1800s')

In [16]:
df_1700s['label'] = 1700
df_1800s['label'] = 1800
df_1900s['label'] = 1900
df_2000s['label'] = 2000

In [17]:
merged_df = pd.concat([df_1700s, df_1800s, df_1900s, df_2000s])

In [18]:
merged_df.shape

(63374, 42)

In [19]:
#merged_df.to_json('fully_merged_dataset.json', orient='records')

In [20]:
merged_df.columns

Index(['date_blocked', 'id', 'blocked', 'judges', 'court', 'date_filed',
       'download_url', 'source', 'local_path', 'html_lawbox', 'time_retrieved',
       'nature_of_suit', 'plain_text', 'html_with_citations', 'sha1',
       'date_modified', 'precedential_status', 'extracted_by_ocr',
       'citation_count', 'absolute_url', 'docket', 'html', 'resource_uri',
       'citation.state_cite_three', 'citation.federal_cite_two',
       'citation.resource_uri', 'citation.federal_cite_three',
       'citation.lexis_cite', 'citation.document_uris',
       'citation.scotus_early_cite', 'citation.federal_cite_one',
       'citation.case_name', 'citation.westlaw_cite',
       'citation.state_cite_one', 'citation.specialty_cite_one',
       'citation.state_cite_regional', 'citation.id', 'citation.docket_number',
       'citation.state_cite_two', 'citation.neutral_cite',
       'supreme_court_db_id', 'label'],
      dtype='object')

In [21]:
df_of_interest = merged_df[['id', 'supreme_court_db_id', 'plain_text', 'html', 'html_with_citations', 'label']]

In [22]:
#df_of_interest.to_json('subsetted_full_dataset.json', orient='records')

In [23]:
from bs4 import BeautifulSoup

def remove_html_with_bs4(text):
    cleaned_text = BeautifulSoup(text, 'lxml').get_text().strip()
    return(cleaned_text)

In [33]:
df_of_interest.loc[df_of_interest['html'] == '']

,id,supreme_court_db_id,plain_text,html,html_with_citations,label
0,2381753,NaN,,,,1700
6,2381641,NaN,,,,1700
7,2381711,NaN,,,,1700
8,2381756,NaN,,,,1700
11,2381794,NaN,,,,1700
...,...,...,...,...,...,...
5764,1991620,NaN,,,,2000
5947,799975,2004-060,"(Slip Opinion) OCTOBER TERM, 2004...",,"<div>\n<center><b><span class=""citation no-lin...",2000
5961,1982974,NaN,,,,2000
5969,1991876,NaN,,,,2000
10773,1087981,NaN,,,"<div>\n<center><b><span class=""citation no-lin...",2000

In [34]:
df_of_interest.iloc[0]

id                     2381753
supreme_court_db_id        NaN
plain_text
html
html_with_citations
label                     1700
Name: 0, dtype: object

In [36]:
df_of_interest.dropna(subset=['plain_text', 'html', 'html_with_citations'], how='all',inplace=True)

In [38]:
def remove_html_escape(html):
    return BeautifulSoup(str(html), "lxml").text

In [39]:
df_of_interest['cleaned_html'] = df_of_interest['html'].apply(lambda x: remove_html_escape(x) if x != '' else x)

/Users/spicy.kev/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
df_of_interest.to_json('file_with_cleaned_html.json', orient='records')

In [41]:
df_of_interest.head(25)

,id,supreme_court_db_id,plain_text,html,html_with_citations,label,cleaned_html
0,2381753,NaN,,,,1700,
1,84591,NaN,,"<p class=""case_cite"">1 U.S. 20</p>\r\n <p c...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 20\n1 Dall. 20\n1 L.Ed. 19\nANONYMOUS.\...
2,84590,NaN,,"<p class=""case_cite"">1 U.S. 18</p>\r\n <p c...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 18\n1 Dall. 18\n1 L.Ed. 18\nThe Lessee ...
3,84614,NaN,,"<p class=""case_cite"">1 U.S. 194</p>\n <p cl...","<div>\n<center><b><span class=""citation no-lin...",1700,1 U.S. 194\n1 Dall. 194\n1 L.Ed. 96\nGerardv.L...
4,84615,NaN,,"<p class=""case_cite"">1 U.S. 210</p>\r\n <p ...","<div>\n<center><b><span class=""citation no-lin...",1700,1 U.S. 210\n1 Dall. 210\n1 L.Ed. 104\nPollardv...
5,84648,NaN,,"<p class=""case_cite"">2 U.S. 97</p>\n <p cla...","<p class=""case_cite""><span class=""citation no-...",1700,2 U.S. 97\n2 Dall. 97\n1 L.Ed. 305\nPringlev.B...
6,2381641,NaN,,,,1700,
7,2381711,NaN,,,,1700,
8,2381756,NaN,,,,1700,
9,84595,NaN,,"<p class=""case_cite"">1 U.S. 47</p>\n <p cla...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 47\n1 Dall. 47\n1 L.Ed. 31\nJAMES'S CLA...
10,84596,NaN,,"<p class=""case_cite"">1 U.S. 49</p>\r\n <p c...","<div>\n<center><b><span class=""citation no-lin...",1700,1 U.S. 49\n1 Dall. 49\n1 L.Ed. 32\nMontgomeryv...
11,2381794,NaN,,,,1700,
12,2381810,NaN,,,,1700,
13,84628,NaN,,"<p class=""case_cite"">1 U.S. 441</p>\n <p cl...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 441\n1 Dall. 441\n1 L.Ed. 214\nM'Cullou...
14,2381772,NaN,,,,1700,
15,84625,NaN,,"<p class=""case_cite"">1 U.S. 406</p>\n <p cl...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 406\n1 Dall. 406\n1 L.Ed. 197\nJohnsonv...
16,84629,NaN,,"<p class=""case_cite"">1 U.S. 480</p>\n <p cl...","<div>\n<center><b><span class=""citation no-lin...",1700,"1 U.S. 480\n1 Dall. 480\n1 L.Ed. 232\nLyle, Ad..."
17,2381770,NaN,,,,1700,
18,84626,NaN,,"<p class=""case_cite"">1 U.S. 411</p>\n <p cl...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 411\n1 Dall. 411\n1 L.Ed. 200\nSchlosse...
19,84627,NaN,,"<p class=""case_cite"">1 U.S. 439</p>\n <p cl...","<p class=""case_cite""><span class=""citation no-...",1700,1 U.S. 439\n1 Dall. 439\n1 L.Ed. 213\nPhillips...
20,2381659,NaN,,,,1700,
21,2381663,NaN,,,,1700,
22,84650,NaN,,"<p class=""case_cite"">2 U.S. 102</p>\n <p cl...","<div>\n<center><b><span class=""citation no-lin...",1700,2 U.S. 102\n2 Dall. 102\n1 L.Ed. 307\nHoarev.A...
23,2381613,NaN,,,,1700,
24,2381736,NaN,,,,1700,

In [42]:
df_of_interest['cleaned_html'] = df_of_interest['cleaned_html'].replace(r'\n',' ', regex=True)

/Users/spicy.kev/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
df_of_interest.tail(25)

,id,supreme_court_db_id,plain_text,html,html_with_citations,label,cleaned_html
28359,139831,None,,"<p class=""case_cite"">543 U.S. 961</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 961 AUSTINv.SUPERIOR COURT OF CALIFOR...
28360,140011,None,,"<p class=""case_cite"">543 U.S. 976</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 976 WATTv.WASHINGTON. No. 04-46. Supr...
28361,135111,None,,"<p class=""case_cite"">541 U.S. 946</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"541 U.S. 946 OSTRANDERv.LUEBBERS, SUPERINTENDE..."
28362,137086,None,,"<p class=""case_cite"">542 U.S. 908</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"542 U.S. 908 PRESIDENTv.STALDER, SECRETARY, LO..."
28363,138373,None,,"<p class=""case_cite"">543 U.S. 848</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"543 U.S. 848 SANTOv.LAMARQUE, WARDEN. No. 03-1..."
28364,138689,None,,"<p class=""case_cite"">543 U.S. 873</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 873 McFARLANDv.UNITED STATES. No. 04-...
28365,140441,None,,"<p class=""case_cite"">543 U.S. 1010</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,"543 U.S. 1010 GRANTv.RIVERS, WARDEN. No. 04-67..."
28366,135541,None,,"<p class=""case_cite"">541 U.S. 979</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"541 U.S. 979 HOLMESv.OZMINT, DIRECTOR, SOUTH C..."
28367,140154,None,,"<p class=""case_cite"">543 U.S. 987</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 987 WASHBURNv.DEPARTMENT OF JUSTICE E...
28368,135054,None,,"<p class=""case_cite"">541 U.S. 942</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,541 U.S. 942 PORTERFIELDv.TENNESSEE. No. 03-83...
28369,137069,None,,"<p class=""case_cite"">542 U.S. 907</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,542 U.S. 907 SCOTTv.LOUISIANA. No. 03-9797. Su...
28370,137593,None,,"<p class=""case_cite"">542 U.S. 956</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"542 U.S. 956 WALKERv.QUADGRAPHICS, INC. No. 03..."
28371,138666,None,,"<p class=""case_cite"">543 U.S. 871</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 871 NAVAJO NATIONv.KRYSTAL ENERGY CO....
28372,139974,None,,"<p class=""case_cite"">543 U.S. 973</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 973 WOLFFv.UNITED STATES. No. 04-6547...
28373,140504,None,,"<p class=""case_cite"">543 U.S. 1015</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 1015 ADAMESv.MARTINEZ ET AL. No. 04-6...
28374,135404,None,,"<p class=""case_cite"">541 U.S. 968</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,541 U.S. 968 MANGALv.UNITED STATES. No. 03-918...
28375,137439,None,,"<p class=""case_cite"">542 U.S. 938</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,542 U.S. 938 GESIORSKI ET UX.v.BRANCH BANKING ...
28376,138236,None,,"<p class=""case_cite"">543 U.S. 838</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"543 U.S. 838 SEGRAVESv.MILLER, SUPERINTENDENT,..."
28377,140857,None,,"<p class=""case_cite"">543 U.S. 1040</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,"543 U.S. 1040 TAALIB-DINv.CITY OF DETROIT, MIC..."
28378,136678,None,,"<p class=""case_cite"">541 U.S. 1072</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,"541 U.S. 1072 CONELYv.TOWNSHIP OF YORK, MICHIG..."
28379,135957,None,,"<p class=""case_cite"">541 U.S. 1011</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,541 U.S. 1011 ABDUR'RAHMANv.TENNESSEE. No. 03-...
28380,136382,None,,"<p class=""case_cite"">541 U.S. 1050</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,"541 U.S. 1050 MROZEKv.SOBINA, SUPERINTENDENT, ..."
28381,139077,None,,"<p class=""case_cite"">543 U.S. 901</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,543 U.S. 901 BEMISv.UNITED STATES. No. 04-5460...
28382,136228,None,,"<p class=""case_cite"">541 U.S. 1038</p>\n <p...","<p class=""case_cite""><span class=""citation no-...",2000,"541 U.S. 1038 SOTOv.BURGE, SUPERINTENDENT, AUB..."
28383,139427,None,,"<p class=""case_cite"">543 U.S. 929</p>\n <p ...","<p class=""case_cite""><span class=""citation no-...",2000,"543 U.S. 929 BOWIEv.JOHNSON, DIRECTOR, VIRGINI..."

In [51]:
no_plain_text = df_of_interest.loc[df_of_interest['plain_text'] != '']
len(no_plain_text)
#print(no_plain_text.head(15))

         id supreme_court_db_id  \
0    814955                 NaN
1    903977            2012-060
2    820749                None
3    872994            2012-049
4    873669            2012-050
5   2641101            2013-002
6    855517                None
7   2641855                 NaN
8    868382            2012-045
9    931125            2012-068
10  2643014                 NaN
11   943666                 NaN
12  2642828                 NaN
13   820895                None
14   820745                None

                                           plain_text  html  \
0   (Slip Opinion)              OCTOBER TERM, 2012...
1   (Slip Opinion)              OCTOBER TERM, 2012...
2   (Slip Opinion)              OCTOBER TERM, 2012...
3   (Slip Opinion)              OCTOBER TERM, 2012...
4   (Slip Opinion)              OCTOBER TERM, 2012...
5                    Cite as: 571 U. S. ____ (2013...  None
6   (Slip Opinion)              OCTOBER TERM, 2012...
7                     Cite as: 571 U. S. ____ (201...  None
8   (Slip Opinion)              OCTOBER TERM, 2012...
9   (Slip Opinion)              OCTOBER TERM, 2012...
10                    Cite as: 571 U. S. ____ (201...  None
11                    Cite as: 570 U. S. ____ (201...
12                       Cite as: 571 U. S. ____ (...  None
13  (Slip Opinion)              OCTOBER TERM, 2012...
14  (Slip Opinion)              OCTOBER TERM, 2012...

                                  html_with_citations  label cleaned_html
0   <pre class="inline">(Slip Opinion)            ...   2000
1   <pre class="inline">(Slip Opinion)            ...   2000
2   <pre class="inline">(Slip Opinion)            ...   2000
3   <pre class="inline">(Slip Opinion)            ...   2000
4   <pre class="inline">(Slip Opinion)            ...   2000
5   <pre class="inline">                 Cite as: ...   2000         None
6   <pre class="inline">(Slip Opinion)            ...   2000
7   <pre class="inline">                  Cite as:...   2000         None
8   <pre class="inline">(Slip Opinion)            ...   2000
9   <pre class="inline">(Slip Opinion)            ...   2000
10  <pre class="inline">                  Cite as:...   2000         None
11  <pre class="inline">                  Cite as:...   2000
12  <pre class="inline">                     Cite ...   2000         None
13  <pre class="inline">(Slip Opinion)            ...   2000
14  <pre class="inline">(Slip Opinion)            ...   2000

In [55]:
no_html = df_of_interest.loc[df_of_interest['html'] == '']
no_html.shape
print(no_html.head(15))

         id supreme_court_db_id plain_text html html_with_citations  label  \
0   2381753                 NaN                                       1700
6   2381641                 NaN                                       1700
7   2381711                 NaN                                       1700
8   2381756                 NaN                                       1700
11  2381794                 NaN                                       1700
12  2381810                 NaN                                       1700
14  2381772                 NaN                                       1700
17  2381770                 NaN                                       1700
20  2381659                 NaN                                       1700
21  2381663                 NaN                                       1700
23  2381613                 NaN                                       1700
24  2381736                 NaN                                       1700
27  2381670                 NaN                                       1700
28  2381715                 NaN                                       1700
29  2381650                 NaN                                       1700

   cleaned_html
0
6
7
8
11
12
14
17
20
21
23
24
27
28
29

In [56]:
dataframe_for_training = df_of_interest[['cleaned_html', 'label']]

In [ ]:
dataframe_for_training.to_json('training_json_file.json', orient='records')